*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(54, 128, 240);
}

header > h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
}

main > section {
    background-color: white;
    width: 500px;
    position: relative;
    margin: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 10px;
    color: white;
}